---
---

@import "minima";

h1, h2, h3, h4, h5, h6 {
  a:visited {
    color: #0a2859;
  }
}

.citation {
  padding-left: 30px;
  text-indent: -30px;
}

.citationA {
  padding-left: 60px;
  padding-right: 30px;
  text-indent: -30px;
  color: #4c4c4c;
}

.img {
  max-width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  text-align: center;
}
